<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFT8xCo-xMgxnemazFq34l5m9gwxSQbKc</string>
	<key>GCM_SENDER_ID</key>
	<string>993678545915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.omar.davidson.Reminder</string>
	<key>PROJECT_ID</key>
	<string>reminder-c79e9</string>
	<key>STORAGE_BUCKET</key>
	<string>reminder-c79e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993678545915:ios:45ff37f23d83f6a041f15e</string>
</dict>
</plist>